<!DOCTYPE html>
<html>
<head>
    <title>粥粥商城登陆页</title>
    <link rel="stylesheet" href="/public/src/login/style.css"/>
</head>
<video id="bgVideo" onended="VM.pause();" autoplay="" muted="" autobuffer="autobuffer" preload="auto"
       oncontextmenu="return false" loop="true"
       src="//az29176.vo.msecnd.net/videocontent/Navagio_Shipwreck_Beach_Zakynthos_nimia_4K_588263_1080_HD_ZH-CN.mp4"
       poster="//az29176.vo.msecnd.net/videocontent/Navagio_Shipwreck_nimia_588263_FF_768_HD_ZH-CN1096993174.jpg"
       style="display: inline-block"
></video>
<div id="login" id="bootlogin"></div>
<script src="/dist/login/index.bundle.js"></script>

</html>